<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/main.css" type="text/css" />
  </head>

  <body>
    <h1>Lijst van meetinstrumenten:</h1>

    <ul class="instruments">
      {{#each instruments }}
        <li class="instrument">
          <h2>{{ title }}</h2>
          <p>{{{ contents }}}</p>
          <ol class="open-questions">
          {{#each open_questions }}
            <li class="open-question"><label>{{ question }}</label><input type="text"></li>
          {{/each}}
          </ol>
        </li>
      {{/each}}
    </ul>

  </body>

</html>
